
@*<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="" width="" height="" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                @if(User.IsInRole("Admin"))
                {
                <li class="nav-item">
                    <a class="nav-link" asp-action="index" asp-controller="votegroup">Vote Group</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="AllVoters" asp-controller="dashboard">Dashboard</a>
                </li>
                }
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-controller="voting">Vote Please</a>
                </li>

            </ul>
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>*@
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="" width="" height="" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    Home
                    <span class="visually-hidden">(current)</span>
                </a>
            </li>
            @if(User.IsInRole("Admin"))
    {
            <li class="nav-item">
                <a class="nav-link" asp-action="index" asp-controller="votegroup">Vote Group</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="AllVoters" asp-controller="dashboard">Dashboard</a>
            </li>
    }
            <li class="nav-item">
                <a class="nav-link" asp-action="Index" asp-controller="voting">Vote Please</a>
            </li>
        </ul>
        <partial name="_LoginPartial" />
    </div>
  </div>
</nav>